h2{
color: black!important;
}

.all-articles-div {
  width: 100%;
  padding: 20px;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start; /* or center */
  width: 100%;
}

.article-card {
  width: 300px;
  background-color: aqua;
  padding: 10px;
  box-sizing: border-box;
}
