.nav-div{
    text-decoration: none !important;
    padding: none !important;
    margin: none! important;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: blueviolet;
}

.button{
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--brand);
    border: none;
    margin: 0.4rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 2rem;
    width: 2rem;
    background-image: url(./heart.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
  
}

