.add-text-container{
    width: 100vw;
    max-height: 50vh;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content:flex-start ;
   
}


form{
    background:linear-gradient(#ff334c, rgb(237, 114, 26));
    /* background-color: aquamarine; */
}